html, body {
  background-color: hsl(212, 46%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.card {
  background-color: #FFFFFF;
  border-radius: 2rem;
  width: 375px;
  padding: 1rem;
  box-shadow: 0 4px 30px hsl(212, 57%, 89%);
  
  .qr-code {
    .qr-code__image {
      width: 100%;
      height: auto;
      border-radius: 1.2rem;
    }
  }
}
